<ion-content>
<div class="flex-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="tertiary">LogIn</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input typr="email" placeholder="Enter your email"></ion-input>
      </ion-item><br>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input typr="password" placeholder="Enter your password"></ion-input>
      </ion-item>
      <br>
      <ion-text color="tertiary">
        <h5>Forget Password?</h5>
      </ion-text>
      <br>
      <ion-button color="tertiary" expand="block">LOGIN</ion-button><br>
      <ion-text color="grey">
        <h5>You don’t have an account ? <ion-text color="tertiary"> Register now</ion-text></h5>
      </ion-text>
    </ion-card-content>

  </ion-card>
</div>
</ion-content>
