<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="tertiary">LogIn</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Full Name</ion-label>
          <ion-input typr="email" placeholder="Enter your full name"></ion-input>
        </ion-item><br>

        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input typr="email" placeholder="Enter your email"></ion-input>
        </ion-item><br>

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input typr="password" placeholder="Password"></ion-input>
        </ion-item><br>

        <ion-item>
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input typr="password" placeholder="Password"></ion-input>
        </ion-item><br>

        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label><h6>. I agree with Terms and Conditions</h6></ion-label>
        </ion-item><br>

        <ion-button color="tertiary" expand="block">Register</ion-button><br>

        <ion-text color="grey">
          <h5>Already have an account ?<ion-text color="tertiary">  Sign In</ion-text></h5>
        </ion-text>
      </ion-card-content>

    </ion-card>
  </div>
  </ion-content>
